@import url("https://fonts.googleapis.com/css?family=Cinzel");
* {
     box-sizing: border-box;
}

body {
     background-color: #424242;
     font-family: 'Cinzel', Arial, sans-serif;
}

body #container {
     position: fixed;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     max-width: 50em;
     width: 75%;
     z-index: 10;
     cursor: pointer;
}

body #container #quote-area {
     background-color: #f33939;
     border-radius: 15px;
     padding: 10px;
     color: #fff;
}

body #container #quote-area #quote-body {
     padding: 20px;
}

body #container #quote-area #quote-body #quote p {
     font-size: .25in;
     text-align: justify;
     line-height: .4in;
}

body #container #quote-area #quote-body #quote p::first-letter {
     font-size: .5in;
     line-height: .4in;
     font-weight: bold;
}

body #container #quote-area #quote-body #author {
     display: block;
     font-size: .25in;
     font-style: italic;
     text-align: right;
}

body #prev-arrow {
     position: fixed;
     top: 0;
     left: 0;
     bottom: 0;
     display: block;
     width: 50px;
     height: 100%;
     z-index: 20;
}

body #next-arrow {
     position: fixed;
     top: 0;
     right: 0;
     bottom: 0;
     display: block;
     width: 50px;
     height: 100%;
     z-index: 20;
}

body img.arrow {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 50px;
     margin: auto;
     color: #fff;
     cursor: pointer;
     z-index: 20;
}

body img.arrow:hover {
     width: 60px;
}

body #footer #copyright {
     position: fixed;
     bottom: 10px;
     left: 10px;
     color: #fff;
}

body #footer #footer-link {
     position: fixed;
     bottom: 10px;
     right: 10px;
     color: #fff;
}

body #footer #footer-link:hover {
     color: #fff;
}
